/* .welcome {
  font-size: 2rem;
  color: rgb(91, 146, 219);
} */
.formcolor {
  background-color: rgb(158, 185, 192);
  /* padding: 20px;
  width: 700px; */
}
/* .hometable {
  background-color: rgb(158, 185, 192);
} */
