.navstyling, .formcolor  {
  background-color: rgb(75, 162, 184);
}
.navtxtcolor {
  color: black;
  font-weight: bold;
}

.bgcolor {
  background-color: rgb(236, 237, 238);
}
.titlestyle {
  text-align: center;
  margin-top: 0.5em;
}
#tableBody {
  margin-top: auto;
}
#addButton {
  margin-bottom: 10px;
}
.dropdown {
  font-size: small;
  padding: 0;
}
.infocolor {
  background-color: rgb(250, 251, 252);
}

.donedelete {
  float: right;
}

/* fix for modal flickering issue */
.list-group-item,
.list-group-item:hover {
  z-index: auto;
}

/* To hide the count of days for tasks with status done */
.hideElement {
  display: none;
}
